In [3]:
import pandas as pd
df = pd.DataFrame({'color' : ['Red','Yellow', 'Green', 'Blue','White'], 'count' : [15, 8, 3, 10,11]})

In [4]:
df

    color  count
0     Red     15
1  Yellow      8
2   Green      3
3    Blue     10
4   White     11

In [5]:
print(df)

    color  count
0     Red     15
1  Yellow      8
2   Green      3
3    Blue     10
4   White     11